/** Add css rules here for your application. */


/** Example rules used by the template application (remove for your app) */
html body{
	width : 80%;
	margin : auto;
	font-family : "Damion";
	font-size : 1.2em;
}

